<div class="container">
    <h1 class="center">todolist</h1>
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Ajoutez une tâche ici" [(ngModel)]="todo" (keydown.enter)="submit()">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" (click)="submit()">Envoyer</button> 
        </div>
    </div>
    <br><br>
    <div *ngIf="todolist.length > 0">
        <table class="table table-striped table-dark">
            <tr>
                <th>
                    Tâche  
                    <span (click)="sortTodolist('todo')">
                        <i class="bi-chevron-up"></i>
                    </span>
                    <span (click)="reverseSortTodolist('todo')">
                        <i class="bi-chevron-down"></i>
                    </span>
                </th>
                <th>
                    Fait   
                    <span (click)="sortTodolist('done')">
                        <i class="bi-chevron-up"></i>
                    </span>
                    <span (click)="reverseSortTodolist('done')">
                        <i class="bi-chevron-down"></i>
                    </span>
                </th>
                <th>Changer état</th>
                <th>Supprimer tâche</th>
            </tr>
            <tr *ngFor="let todo of todolist, index as i">
                <td (click)="goToEdit(i)" class="{{ todo.done ? 'done': 'undone' }} center">
                    <ng-template [ngIf]="todo.edit == false" [ngIfElse]="edition">{{ todo.todo }}</ng-template>
                    <ng-template #edition>
                        <input type="text" [(ngModel)]="todo.todo" (keydown.enter)="editTodo($event, i)">
                    </ng-template>
                </td>
                <td> {{ todo.done ? 'fait' : 'pas fait' }}</td>
                <td> <button class="btn btn-secondary" (click)="done(i)">Fait/pas fait</button></td>
                <td><button class="btn btn-danger" (click)="delete(i)">Supprimer</button></td>
            </tr>
        </table>
    </div>
</div>